html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #0d0d0d;
}

/* 
///
Header
///
*/

header {
  background-image: url("images/blueUniverse.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.meTalky {
  display: flex;
  padding-top: 2.5em;
}

.meTalky img {
  height: 6.3125em;
  width: 6.3125em;
  margin-right: .5em;
  padding-top: 0;
}

.speechBubble {
  background-color: #f0f0f0;
  opacity: .8;
  border: 3px solid #f0f0f0; 
  border-radius: 5px;
  height: 2.75em;
  position: relative;
  margin-top: -1em;
  width: 13em;
  height: 4.5em;
}

.speechBubble h1{
  font-size: .85em;
  padding-left: .5em;
  margin-top: .3em;
  color: #0d0d0d;
}

.speechBubble p{
  font-size: .7em;
  padding-left: .5em;
  padding-right: .5em;
  margin-top: -.2em;
  color: #0d0d0d;
}

.speechBubble .triangle {
  position: absolute;
  left: 7px;
  bottom: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 0;
  border-color: #f0f0f0 transparent transparent transparent;
}

.speechBubble a {
  color: #0d0d0d;
}

.projectPreview {
  margin-top: 2em;
  background-color: rgba(12, 14, 38, .5);
  /* width: 100%; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: .5em;
  padding-bottom: .5em;
  text-align: center;
  width: 100%;
}

.projectPreview a {
  text-decoration: none;
}

.projectPreview img {
  height: 100px;
  width: 120px;
  padding-left: .5em;
  padding-right: .5em;
  background-color: white;
}

.projectPreview h2{
    margin-left: 1em;
    margin-right: 1em;
    font-size: .8em;
    font-weight: normal;
    padding: 0;
    background-color: #076cab;
    border: 1.5px solid #076cab;
    border-radius: 2px;
    color: white;
    padding-top: .1em;
    padding-bottom: .1em;
  }

.projectPreview h2:hover {
  text-decoration: none;
}  

/* 
///
Main
///
*/

.blogPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8em;
  background-color: white;
  position: relative;
  color: #0d0d0d;
}

.blogHighlight {
  width: 100%;
  height: 17px;
  background-color: #A80000;
}

.blogPreview p {
  font-size: .7em;
  margin-left: 10px;
  margin-top: 0; 
}

.blogTitle {
  display: flex;
}

.blogTitle p {
  padding-bottom: 0;
  margin-top: 1.8em;
  margin-bottom: 0;
  font-size: .6em;
  color: #870000;
}

h2 {
  margin-top: .5em;
  margin-left: 10px;
  margin-bottom: .3em;
  font-size: 1.2em;
  padding-top: 0;
}

h2:hover {
  text-decoration: underline; 
  cursor: pointer;
}

.blogPreview a {
  text-decoration: none;
  background-color: #076cab;
  border: 1.5px solid #076cab;
  border-radius: 2px;
  color: white;
  font-size: .62em;
  padding-top: .3em;
  width: 8em;
  height: 1.5em;
  text-align: center;
  position: absolute;
  bottom: -15px;
  right: 35px;
}

/* 
///
Footer
///
*/

footer {
  color: white;
  text-align: center;
}

footer h3 {
  font-size: .7em;
}

footer p {
  font-size: .4em;
  margin-top: 3em;
}

footer img {
  padding-right: .5em;
  padding-left: .5em;
}

/* 
///
Scaling: iPad
///
*/
@media (max-width: 768px) and (min-width: 450px) {

    header {
      margin-bottom: 1.5em;
    }

    .meTalky {
      margin-bottom: .5em;
    }

    .meTalky img {
      height: 200px;
      width: 200px;
      padding-right: .7em;
    }

    .speechBubble {
      width: 18.5em;
      height: 7.5em;
    }

    .speechBubble .triangle{
      position: absolute;
      left: 7px;
      bottom: -16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: #f0f0f0 transparent transparent transparent;
    }

    .speechBubble h1 {
      font-size: 1.6em;
    }

    .speechBubble p{
      font-size: 1.1em;
      padding-left: .8em;
    }

    .projectPreview {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding-top: 1em;
      padding-bottom: 1em;
      text-align: center;
    }

    .projectPreviewOne {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-right: .5em;
    }

    .projectPreviewTwo {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: .5em;
      margin-right: .5em;
    }

    .projectPreviewThree {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-left: .5em;
    }

    .projectPreview h2{
      margin-left: 1em;
      margin-right: 1em;
      font-size: 1.2em;
      padding: 0;
      background-color: #076cab;
      border: 1.5px solid #076cab;
      border-radius: 2px;
      color: white;
    }

    .projectPreview img{
      height: 140px;
      width: 180px;
      margin-right: 1em;
      margin-left: 1em;
      margin-bottom: .5em;
      padding: 0;
      border: 3px solid #870000;
      border-radius: 5px;
    }

    main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    main, footer {
      margin-left: 5%;
      margin-right: 5%;
    }

    .blogPreview {
      width: 48.5%;
      padding-bottom: .5em;
    }

    .blogPreview h2 {
      font-size: 1.9em;
      margin-left: 1em;
      margin-bottom: 0;
    }

    .blogTitle {
      display: flex;
      flex-direction: column;
      margin-bottom: .5em;
    }

    .blogPreview p {
      font-size: 1em;
      margin-left: 2em;
      margin-right: 2em;
    }

    .blogTitle p {
      font-size: .85em;
      margin-top: .5em;
      margin-left: 2.4em;
      color: #870000;
    }

    .blogHighlight {
      height: 30px;
    }

    .blogPreview a {
      font-size: 1em;
    }

    footer h3 {
      font-size: 1.5em;
    }

    footer img {
      height: 60px;
      width: 60px;
    }

    footer p {
      font-size: .9em;
      margin-top: 2em;
    }

  }

/* 
///
Scaling: Monitor
///
*/

@media (min-width: 770px) {

  body {
    margin-left: 15%;
    margin-right: 15%;
  }

  header {
    margin-bottom: 1.5em;
  }

 .meTalky {
   margin-bottom: 2.5em;
 }

  .meTalky img {
    height: 150px;
    width: 150px;
  }

  .speechBubble {
    width: 17em;
    height: 6.5em;
  }

  .speechBubble .triangle{
    position: absolute;
    left: 7px;
    bottom: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #f0f0f0 transparent transparent transparent;
  }

  .speechBubble h1 {
    font-size: 1.4em;
  }

  .speechBubble p{
    font-size: .9em;
    padding-left: .8em;
  }

  .projectPreview {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }

  .projectPreviewOne {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
  }

  .projectPreviewTwo {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
  }

  .projectPreviewThree {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 3em;
    padding-right: 3em;
  }

  .projectPreview h2{
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
    padding: 0;
    background-color: #076cab;
    border: 1.5px solid #076cab;
    border-radius: 2px;
    color: white;
  }

  .projectPreview img{
    height: 120px;
    width: 150px;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: .5em;
    padding: 0;
    border: 3px solid #870000;
    border-radius: 5px;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .blogPreview {
    width: 48.5%;
    padding-bottom: .5em;
  }

  .blogPreview h2 {
    font-size: 1.7em;
    margin-left: 1em;
    margin-bottom: 0;
  }

  .blogTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: .5em;
  }

  .blogPreview p {
    font-size: .9em;
    margin-left: 2em;
    margin-right: 2em;
  }

  .blogTitle p {
    font-size: .75em;
    margin-top: .5em;
    margin-left: 2.4em;
    color: #870000;
  }

  .blogHighlight {
    height: 30px;
  }

  .blogPreview a {
    font-size: .85em;
  }

  footer h3 {
    font-size: 1.3em;
  }

  footer img {
    height: 50px;
    width: 50px;
  }

  footer p {
    font-size: .7em;
    margin-top: 2em;
  }

}